[MESSAGES CONTROL]
disable=
        too-many-public-methods,
        no-self-use,
        no-member,
        too-many-arguments,
        too-many-instance-attributes,
        too-few-public-methods,
        super-init-not-called,
        anomalous-backslash-in-string
